

@media (max-width: 667px) {

html {
    height: 100vh;
}

body{
    display:flex;
    height: 100vh;
    margin: 0; 
    padding: 0; 
    background-image: linear-gradient(to right, #480ca8, #4cc9f0);

    overflow-x: none; 
    overflow-y: none;  
}


#telalogin{
    background-color: #b6dbf4;
    display:flex;
    flex-direction: column;
    border: solid rgb(33, 166, 166) 5px;
    height: 38vh;
    width: 30vh;
    margin-top: 250px;
    margin-bottom: none;
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
    z-index: 2;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    
}


#email{
    display: absolute;
    font-size: 12px;
    margin-top: 20px;


}
#email label {
    color:black;
    
}

#senha{
    display: absolute;
    font-size: 12px;
    margin-top: 20px;


}
#senha label{
    color:black;
    
}

.caminho1{
    margin-top: 50px;
    font-size: 12px;
   
}
#botao{
     margin-top: 30px;
   

}

.nomesite{
    position: none;       /* pode ser movido livremente */
    font-family: Arial;
    font-size: 100px;
    right: 15%;
    z-index: 2;
    
}

#login{
    display:flex;
    font-size: 20px;
}

.imagemacao{
    position: none;
    top: 20%;
    right: 58%;
    z-index: 3;
    width: 400px;
    height: 400px;
    display: none;
}

#imagembordacima{
    position: none;
    display: none;
}

#imagembordabaixo{
    position: none;
    display: none;

}

#bordadireita{
    position: none;   /* prende à viewport, não desloca conteúdo */
    top: 0;
    right: 0;          /* ou left: 0 se for na esquerda */
    width: 20px;
    height: 100vh;     /* não excede a altura da tela */
    object-fit: cover; /* ajusta a imagem ao box */
    z-index: 10;
    display: block;  
    background-color: black;
}


#bordaesquerda{
    position: none;   /* prende à viewport, não desloca conteúdo */
    top: 0;
    left: 0;          /* ou left: 0 se for na esquerda */
    width: 20px;
    height: 100vh;     /* não excede a altura da tela */
    object-fit: cover; /* ajusta a imagem ao box */
    z-index: 10;
    display: block;  
    background-color: black;
}

#bordacima{
    position: none;
    top: 0;
    left: 0;
    object-fit: cover; 
    width: 100%; 
    height: 60px ; 
    background-color: black;
     z-index: 10;
}


#bordabaixo{
    position: none;
    bottom: 0;
    left: 0;
    object-fit: cover; 
    width: 100%; 
    height: 40px ; 
    background-color: black;
     z-index: 10;
}

#alt1  {


    position: absolute;
    top: 14%;
    left: 38%;
    font-size: 20px;
    z-index: 99;
    text-shadow: 2px 2px 5px gray;
}

#alt2 {
    position: none;
    top: 23%;
    left: 38%;
    font-size: 20px;
    z-index: 99;

  text-shadow: 2px 2px 5px gray;
}



#best1{
    position: absolute;
    top: 15%;
    left: 38%;
    color: black;
    font-size: 20px;
    z-index: 100;
text-shadow: 2px 2px 5px gray;


}

#best2{


  position: absolute;
  top: 24%;
  left: 38%;
  color: black;
  font-size: 20px;
  z-index: 100;
text-shadow: 2px 2px 5px gray;
}

#compre{
    position: none;
    left:80px;
    color:white;
    z-index: 100;

}

#acaomenor{
    position: none;
    top:10px;
     left:40px;
    height: 30px;
    width: 30px;
    z-index: 100;
}

#www{
    position: none;
    left:40px;
    height: 30px;
    width: 30px;
    z-index: 100; 
    color: white;
}

.entrada{
    border-radius: 10px;
    height: 10px;
    width: 15vh;
}

#imagem{
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    display: none;
}

/*---------------------------------------------------------------------------------------------------*/




    
}
